{% extends '../base.html' %}
{% block title %}
    {% if corporates1 %}
        {% for crp in corporates1 %}
            {{ crp.front_title |default_if_none:'' }}
        {% endfor %}
    {% endif %}
{% endblock title %}
{% load static %}

{% block javascript %}

{% endblock javascript %}

{% block page_header %}

{% endblock page_header %}


{% block page_content %}
    <!-- Page title -->
    {% if  corporates1 %}
        {% for crp in corporates1 %}

            <div id="slider" class="inspiro-slider dots-creative" data-height-xs="360">
                <!-- Slide 2 -->
                <div class="slide kenburns"
                     style="background-image:url('{{ crp.corporate_image.url | default_if_none:'' }}');">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="slide-captions text-center text-light">
                            <!-- Captions -->



                            <!-- end: Captions -->
                        </div>
                    </div>
                </div>
                <!-- end: Slide 2 -->

            </div>
            <!-- end: Page title -->
            <!-- FULL WIDTH PAGE -->
            <section>
                <div class="container">
                    <h2>{{ crp.front_title | safe |default_if_none:'' }}</h2>
                    <p>{{ crp.corporate_description | safe |default_if_none:'' }}</p>
                </div>
            </section>
        {% endfor %}
    {% endif %}


    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!-- end: FULL WIDTH PAGE -->
{% endblock page_content %}