{% extends '../base.html' %}
{% block title %}
    Anasayfa
{% endblock title %}
{% load static %}

{% block javascript %}

{% endblock javascript %}

{% block page_header %}

{% endblock page_header %}


{% block page_content %}
    <!-- Corporate Table -->
    <!-- Inspiro Slider -->
    <div id="slider" class="inspiro-slider slider-fullscreen dots-creative" data-fade="true">
        {% if  sliders %}
            {% for sld in sliders %}
                <!-- Slide 1 -->
                <div class="slide kenburns"
                     data-bg-image="{{ sld.image.url | default_if_none:'/static/home_static/images/parallax/29.jpg' }}">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="slide-captions text-center text-light">
                            <!-- Captions -->
                            <h1 data-caption-animate="zoom-out">{{ sld.main_title | default_if_none:'' }}</h1>
                            <p>{{ sld.sub_title | default_if_none:'' }}</p>
                            </span>
                            <!-- end: Captions -->
                        </div>
                    </div>
                </div>
                <!-- end: Slide 1 -->
            {% endfor %}
        {% elif sliders is None %}
            <!-- Slide 2 -->
            <div class="slide" data-bg-video="/static/home_static/video/pexels-waves.mp4">
                <div class="bg-overlay"></div>
                <div class="container">
                    <div class="slide-captions text-start text-light">
                        <!-- Captions -->
                        <h1>220+ Laytout Demos</h1>
                        <p class="text-small">POLO is packed with 220+ pre-made layouts that allow you to quickly
                            jumpstart
                            your project. Completely customizable for creating your own designs.</p>
                        <!-- end: Captions -->
                    </div>
                </div>
            </div>
            <!-- end: Slide 2 -->
        {% endif %}
    </div>
    <!--end: Inspiro Slider -->
    <!-- WELCOME -->

    <!-- end: WELCOME -->
    <!-- WHAT WE DO -->
    <section class="background-grey">
        <div class="container">

            <div class="heading-text heading-section">
                <h2>KURUMSAL</h2>
                {% for hm in homes %}
                    <span class="lead">{{ hm.corporate_main_title | safe  | default_if_none:"" }}</span>
                {% endfor %}
            </div>
            <div class="row">
                {% if  corporates %}
                    {% for cp in  corporates %}
                        <div class="col-lg-4">
                            <div data-animate="animate__fadeInUp" data-animate-delay="0">
                                <h4>{{ cp.front_title | default_if_none:"" }}</h4>
                                <p>{{ cp.corporate_description | safe | truncatewords:10  | default_if_none:"" }}</p>
                            </div>
                            <div><a href="{% url 'home-corporate' id=cp.id %}" class="btn btn-primary scroll-to">Daha
                                Fazlası</a></div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

        </div>
    </section>
    <!-- END WHAT WE DO -->
    <!-- PORTFOLIO -->
    <section class="p-b-0">
        <div class="container">
            <div class="heading-text heading-section">
                <h2>YAZILIMLARIMIZ</h2>
                {% for sfhm in homes %}
                    <span class="lead">{{ sfhm.software_main_title | default_if_none:'' }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="portfolio">
            <!-- Portfolio Items -->
            <div id="portfolio" class="grid-layout portfolio-4-columns" data-margin="0">
                <!-- portfolio item -->
                {% if softwares %}
                    {% for sft in softwares %}
                        <div class="portfolio-item img-zoom ct-marketing ct-media ct-branding ct-marketing ct-webdesign">
                            <div class="portfolio-item-wrap">
                                <div class="portfolio-image">
                                    <a href="{% url 'home-software' id=sft.id %}"><img
                                            src="{{ sft.software_image.url | default_if_none:'' }}" alt=""></a>
                                </div>
                                <div class="portfolio-description">
                                    <a href="{% url 'home-software' id=sft.id %}">
                                        <h3>{{ sft.title | default_if_none:'' }}</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                {% endif %}
                <!-- end: portfolio item -->
            </div>
            <!-- end: Portfolio Items -->
        </div>
    </section>
    <!-- end: PORTFOLIO -->
    <!-- BLOG -->
    <section class="content background-grey">
        <div class="container">
            <div class="heading-text heading-section">
                <h2>BLOG</h2>
                {% for hm in homes %}
                    <span class="lead">{{ hm.blog_main_title | safe  | default_if_none:"" }}</span>
                {% endfor %}
            </div>
            <div id="blog" class="grid-layout post-3-columns m-b-30" data-item="post-item">
                {% if blogs%}
                    {% for blg in blogs%}
                        <!-- Post item-->
                        <div class="post-item border">
                            <div class="post-item-wrap">
                                <div class="post-image">
                                    <a href="#">
                                        <img height="200px" src="{{ blg.blog_image.url | default_if_none:'' }}">
                                    </a>

                                </div>
                                <div class="post-item-description">
                                    <span class="post-meta-date"><i class="fa fa-calendar-o"></i>{{ blg.blog_date | default_if_none:'' }}</span>
                                    <h2><a href="#">{{ blg.blog_title | default_if_none:'' }}
                                    </a></h2>
                                    <p>{{ blg.blog_descriptions | default_if_none:'' }}</p>
                                    <a href="#" class="item-link">Read More <i class="icon-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- end: Post item-->
                    {% endfor %}

                {% endif %}


            </div>
        </div>
    </section>
    <!-- end: BLOG -->

    <!-- TEAM -->
       <section class="background-grey">
        <div class="container">
            {% for hm in  homes %}
                <div class="heading-text heading-section text-center">
                    <h2>Ekibimiz</h2>
                    <span class="lead">{{ hm.team_main_title | default_if_none:'' }}</span>
                </div>
            {% endfor %}
            <div class="row team-members team-members-shadow m-b-40">
                {% if  teams %}
                    {% for tm in teams %}
                        <div class="col-lg-3">
                            <div class="team-member">
                                <div class="team-image">
                                    <img src="{{ tm.image.url |default_if_none:''}}">
                                </div>
                                <div class="team-desc">
                                    <h3>{{ tm.name_surname |default_if_none:''}}</h3>
                                    <span>{{ tm.job |default_if_none:''}}</span>
                                    <p>{{ tm.personal_descriptions |default_if_none:''}} </p>
                                    <div class="align-center">
                                        <a class="btn btn-xs btn-slide btn-light" href="{{ tm.facebook |default_if_none:''}}">
                                            <i class="fab fa-facebook-f"></i>
                                            <span>Facebook</span>
                                        </a>
                                        <a class="btn btn-xs btn-slide btn-light" href="{{ tm.twitter |default_if_none:''}}" data-width="100">
                                            <i class="fab fa-twitter"></i>
                                            <span>Twitter</span>
                                        </a>
                                        <a class="btn btn-xs btn-slide btn-light" href="{{ tm.instagram |default_if_none:''}}" data-width="118">
                                            <i class="fab fa-instagram"></i>
                                            <span>Instagram</span>
                                        </a>
                                        <a class="btn btn-xs btn-slide btn-light" href="mailto:{{ tm.mail |default_if_none:''}}" data-width="80">
                                            <i class="fas fa-envelope-square"></i>
                                            <span>Mail</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
    <!-- end: TEAM -->
    <!-- /corporate table -->
{% endblock page_content %}