{% extends '../base.html' %}
{% block title %}
    {% if  software_filtres %}
        {% for sft in  software_filtres %}
            {{ sft.title | default_if_none:'' }}
        {% endfor %}
    {% endif %}
{% endblock title %}
{% load static %}

{% block javascript %}

{% endblock javascript %}

{% block page_header %}

{% endblock page_header %}


{% block page_content %}
    {% if software_filtres %}
        {% for sft in software_filtres %}
            <!-- Page title -->

            <!-- end: Page title -->
                    <!-- Inspiro Slider -->
        <div id="slider" class="inspiro-slider dots-creative" data-height-xs="360">
            <!-- Slide 2 -->
            <div class="slide kenburns" style="background-image:url('{{ sft.software_image.url | default_if_none:'' }}');">
                <div class="bg-overlay"></div>
                <div class="container">
                    <div class="slide-captions text-center text-light">
                        <!-- Captions -->
                        <h2>{{ sft.title | default_if_none:'' }}</h2>
                        <span class="strong"><a href="{{ sft.link | default_if_none:'' }}"><i class="fab fa-chrome"></i> Sitemizi Ziyaret Edin...</a></span>

                        <!-- end: Captions -->
                    </div>
                </div>
            </div>
            <!-- end: Slide 2 -->

        </div>
        <!--end: Inspiro Slider -->
            <!-- FULL WIDTH PAGE -->
            <section>
                <div class="container">
                    <h2>{{ sft.title | default_if_none:'' }}</h2>
                    <p>{{ sft.description |safe | default_if_none:'' }}</p>
                </div>
            </section>
        {% endfor %}

    {% endif %}


    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!-- end: FULL WIDTH PAGE -->
{% endblock page_content %}